<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de pessoas</title>
</head>
<body>
    <h1>Cadastro de pessoas</h1>
    <form action="/pessoa" method="post">
        <label for="cargo">Cargo</label>
        <input id="cargo" name="cargo" type="text">
        <br>

        <label for="codigo">Codigo</label>
        <input id="codigo" name="codigo" type="text">
        <br>

        <label for="nome">Nome</label>
        <input id="nome" name="nome" type="text">
        <br>

        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>