<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <style>
    table {
      width: 50%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
    <h1>Lista de Pessoas</h1>
    <table>
        <tr>
            <th>Cargo</th>
            <th>Código</th>
            <th>Nome</th>
        </tr>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.cargo}">cargo</td>
            <td th:text="${pessoa.codigo}">codigo</td>
            <td th:text="${pessoa.nome}">nome</td>
        </tr>
    </table>
    <a href="/pessoa/novo">Cadastrar pessoa</a>
</body>
</html>