<!DOCTYPE html>
<html lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}">
<head>
  <title>Lista de Pessoas</title>
</head>
<body>
  <div layout:fragment="conteudo">
    <h1>Lista de Pessoas</h1>
    <table>
        <tr>
            <th>Cargo</th>
            <th>Código</th>
            <th>Nome</th>
        </tr>
        <tr th:each="pessoa : ${pessoas}">
            <td th:text="${pessoa.cargo}">cargo</td>
            <td th:text="${pessoa.codigo}">codigo</td>
            <td th:text="${pessoa.nome}">nome</td>
        </tr>
    </table>
    <a href="/pessoa/novo">Cadastrar pessoa</a>
  </div>
</body>
</html>